.title{
    text-align: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 880px;
    height: 520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  a{
    text-decoration: none;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-decoration:null;
  }
  p{
    color: rgb(248, 6, 6);
    text-align: center;
    border: 1px solid #ddd;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }